body {
    margin:0;
    padding: 0;
    height: 100vh;
}



/* NAVBAR */
.icon {
    width: 50px;
}
.navbar {
    width: 100%;
    height: 10vh;
    background-color: #f97316;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo, .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons {
    margin-right: 25px;
}
.logo{
    padding-left: 2.5%;
}
select {
    height: 50px;
}

button {
    cursor: pointer;
    height: 50px;
}
.button,
.clear {
    border: 0;
    background-color: transparent;  
}

.addproject {
    font-size: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid black
}



/* CONTENT */
.task {
    padding: 5px;
    width: 15vw;
    height: 25vh;
    background-color: beige;
    
    border: 1px solid red
    
}
.todo {
    height: 80vh;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: auto;
    gap: 4%;
}

.buttons{
    gap: 15px
}

.container {
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color: #fafaf9;
    
}

#addtask {
    font-size: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* When task is marked as done. */

.done{
    text-decoration: line-through;

}

.high-priority {
    background-color: #ea580c;
}
.medium-priority {
    background-color: #fb923c;
}
.low-priority {
    background-color: #fed7aa;
}

.popup {

    display: none;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 400px;
    align-items: center;
    justify-content: center;
    background-color: #f97316;
    border-radius: 10px;
}

form .data{
    display: grid;
    grid-template-columns: max-content max-content;
    
    column-gap: 15px;
    row-gap: 5px;
    padding-bottom: 25px;
    
    
}
form .data> .right{
    justify-self: right;
    align-self: center;
}
.post {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.close {
    background-color: transparent;
    border: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0; 
}